<div class="main">
  <div class="nav">
    <div class="logo">
      To-Do
    </div>
  </div>
  <div class="login">
    <span class="loginTitle">Login</span>
    <div class="row">
      <form class="col s12" *ngIf="user">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="email" type="text" #email value="yshirol94@gmail.com" class="validate">
            <label for="email">E-Mail</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" #password value="12345" class="validate">
            <label for="password">password</label>
          </div>
        </div>
        <a class="waves-effect waves-light btn" (click)="login(email.value, password.value)">Login</a>
      </form>
    </div>
  </div>
  <div class="newUser">
    <a routerLink="/register">New User? Register here.</a>
  </div>
</div>